<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.alcatraz.facesaver">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".FaceSaverApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PreferenceInnerActivity" />
        <activity android:name=".activities.PreferenceActivity" />
        <activity android:name=".activities.LogActivity" />
        <activity android:name=".activities.AboutActivity" />
        <activity android:name=".activities.RecordActivity" />
        <activity android:name=".activities.HistoryActivity" />
        <activity android:name=".activities.ProfileConfigureActivity" />
        <activity android:name=".activities.AppPickActivity" />
        <activity android:name=".activities.ProfileGeneralActivity" />

        <service android:name=".services.ProtectorService"
            android:label="@string/accessibility_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_protect_main"/>
        </service>

        <receiver android:name=".receivers.LockScreenAdmin" android:label="@string/admin_label"
            android:description="@string/admin_desc" android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/lockscreen_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>